
.navbar {
  background-color: var(--bg-nav);
  border-bottom: 1px solid var(--border-color);
  padding: 0px 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo img {
  width: 40px;
  animation: floatLogo 3s ease-in-out infinite;
}

@keyframes floatLogo {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.logop {
  margin-left: 15px;
}

.logop h1 {
  font-size: 40px;
  margin-bottom: -5px;
  font-weight: bold;
  color: var(--brand-orange);
}

.logop p {
  font-size: 13px;
  margin-top: -5px;
  color: var(--text-main);
  opacity: 0.9;
  font-weight: 500;
}

.menuWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-left: 50px;
}

.navlinks {
  display: flex;
  gap: 35px;
  margin: 0 auto;
}

.navlinks a {
  text-decoration: none;
  color: var(--text-main);
  opacity: 0.9;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
  cursor: pointer;
  position: relative;
}

.navlinks a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--brand-orange);
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.navlinks a:hover::after,
.navlinks a.active::after {
  width: 100%;
}

.active {
  color: var(--brand-orange) !important;
  font-weight: bold;
  transform: scale(1.05);
}

.menuRight {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger > span {
  width: 25px;
  height: 3px;
  background-color: var(--text-main);
  opacity: 0.8;
}

.authLinks {
  display: flex;
  gap: 10px;
  align-items: center;
}

.authLinks button {
  border: 1px solid var(--brand-orange);
  background-color: transparent;
  color: var(--brand-orange);
  padding: 6px 18px;
  border-radius: 20px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}

.authLinks button:hover {
  background-color: var(--brand-orange);
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.authLinks button.regbtn {
  background-image: linear-gradient(135deg, rgb(243, 195, 94) 0%, rgb(233, 96, 5) 100%);
  border: none;
  color: white;
  transition: transform 0.5 ease;
}

.authLinks button.regbtn:hover {
  transform: scale(1.1);
}

.themeToggleSwitch {
  position: relative;
  width: 65px;
  height: 34px;
  background-color: var(--bg-card);
  border-radius: 17px;
  cursor: pointer;
  border: 2px solid var(--text-main);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  transition: background-color 0.3s ease;
}

.toggleCircle {
  position: absolute;
  left: 4px;
  width: 26px;
  height: 26px;
  background-color: var(--text-main);
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

[data-theme="dark"] .toggleCircle {
  transform: translateX(27px);
}

.icon {
  font-size: 14px;
  line-height: 1;
  z-index: 1;
}

.sunIcon {
  color: var(--bg-main);
  margin-left: 5px;
}

.moonIcon {
  color: var(--bg-main);
  margin-right: 5px;
}

@media (max-width: 900px) {
  .hamburger {
    display: flex;
  }

  .menuWrapper {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    background-color: var(--bg-nav);
    border-bottom: 1px solid var(--border-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    gap: 20px;
    align-items: center;
    margin:0 20px;
  }

  .menuWrapper.showMenu {
    display: flex;
  }

  .navlinks {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 0;
  }

  .menuRight {
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
  }

  .authLinks {
    flex-direction: column !important;
    width: 70%;
    gap: 12px !important;
  }

  .authLinks button {
    width: 100%;
    text-align: center;
  }
}
.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  -webkit-user-select: none;
  -ms-user-select: none;     
  user-select: none;  
}