.heroSection {
  background-image: linear-gradient(rgba(30, 10, 0, 0.600), rgba(20, 5, 0, 0.600)), url('../../assets/img/Seasons_Photo.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
}

.seasonCard {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  background-color: var(--bg-card);
  color: var(--text-main);
  border-color: var(--border-color) !important;
}
.text {color: var(--text-main);}
.seasonCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px var(--bg-card); 
}
.icon {
  color: var(--text-main);
  background-color: var(--brand-orange);
}
.allCards {
  background-color: var(--bg-main);
}
.seasonsHeading {
  color: var(--brand-orange);
}