.textHeading {
  color: var(--brand-orange) !important;
}
.cardText {
  color: var(--text-main);
}
.card {
  background-color: var(--bg-main);
  border-color: var(--border-color) !important;
  transition: 0.2s;
}
.card:hover {
  box-shadow: 0 0 20px var(--bg-main);
}
.btnEvents {
  color: var(--brand-orange);
  border: 1px solid var(--brand-orange);
}
.btnEvents:hover {
  color: white;
  border-color: var(--brand-orange);
  background-color: var(--brand-orange);
}