.authContainer {
  min-height: 100vh;
  background: var(--bg-main);
}
.authCard {
  background: var(--bg-card);
  border: 1px solid rgba(237, 164, 101, 0.1);
  border-radius: 16px;
  padding:50px;
  margin: 130px 0 60px;
  box-shadow: 0 8px 30px  rgb(253, 181, 119), 0 4px 12px rgba(0, 0, 0, 0.427);
  animation: slideDown 1.4s ease;
  transition: all 0.3s ease;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.authCard:hover,
.authCard:active {
  box-shadow: 0 12px 40px rgb(210, 139, 76), 0 8px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}
.title {
  text-align: center;
  margin-bottom: 20px;
  color: var( --brand-orange);
  font-weight: 700;
}
.formLabel {
  margin-bottom: 5px;
  font-size: 15px;
  color: var(--text-main);
  font-weight: 500;
}

.inputField {
  border: 1px solid rgba(255, 255, 255, 0.15) ;
  color: rgb(65, 64, 64) ;
  padding: 10px ;
  border-radius: 8px ;
}

.inputField::placeholder {
  color: #afb1b4 ;
}

.inputField:focus {
  border-color: #f97316 ;
  box-shadow: 0 0 0 5px rgba(249, 115, 22, 0.25) !important;

}
.submitBtn {
  width: 80%;
  padding: 10px;
  font-weight: bold;
  font-size: 25px;
  margin: 5px 10%;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #f2a35a  , #c94f03 );
  border: none;
  transition: background 0.3s ease;
}

.submitBtn:hover {
  background-image: linear-gradient(135deg, #c94f03 , #f2a35a );
}
.passwordGroup {
  position: relative;
  width: 100%;
}

.passwordInput {
  padding-right: 70px ;
}

.passwordToggleBtn {
  position: absolute;
  right: 0; 
  top: 0;
  height: 100%; 
  background: transparent;
  border: none;
  border-left: 1px solid #ccc;
  padding: 0 15px;
  color: #666;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  z-index: 10;
  border-top-right-radius: 8px; 
  border-bottom-right-radius: 8px;
}

.passwordToggleBtn:hover {
  background-color: rgba(0, 0, 0, 0.05); 
  color: #f97316;
}